.App {
  text-align: center;
  scroll-behavior: smooth;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 761px) {
  h1.title {
    font-size: 4vw;
  }
  img.siebold {
    margin-top: -20px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 760px) {
  h1.title {
    font-size: 7vw;
  }
  img.siebold {
    margin-top: 20px;
  }
}
